In [4]:
import pandas as pd
import sqlite3

In [5]:
users_df = pd.read_json('users.json')
print("Users data:")
print(users_df.head())

Users data:
   user_id    name       city membership
0        1  User_1    Chennai    Regular
1        2  User_2       Pune       Gold
2        3  User_3  Bangalore       Gold
3        4  User_4  Bangalore    Regular
4        5  User_5       Pune       Gold

In [6]:
orders_df = pd.read_csv('orders.csv')
print("Orders data:")
print(orders_df.head())

Orders data:
   order_id  user_id  restaurant_id  order_date  total_amount  \
0         1     2508            450  18-02-2023        842.97
1         2     2693            309  18-01-2023        546.68
2         3     2084            107  15-07-2023        163.93
3         4      319            224  04-10-2023       1155.97
4         5     1064            293  25-12-2023       1321.91

                  restaurant_name
0               New Foods Chinese
1  Ruchi Curry House Multicuisine
2           Spice Kitchen Punjabi
3          Darbar Kitchen Non-Veg
4       Royal Eatery South Indian

In [10]:
import sqlite3
print(sqlite3.sqlite_version)

3.45.3

In [11]:
import sqlite3

# Connect to a new database (this will create restaurants.db)
conn = sqlite3.connect('restaurants.db')
cursor = conn.cursor()

# Open the .sql file and execute commands
with open('restaurants.sql', 'r') as f:
    sql_script = f.read()

cursor.executescript(sql_script)  # Execute all commands
conn.commit()
conn.close()

print("Database created successfully!")

Database created successfully!

In [12]:
# Merge orders with users on 'user_id'
orders_users_df = pd.merge(orders_df, users_df, on='user_id', how='left')

# Check the result
orders_users_df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name,name,city,membership
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular

In [14]:
import pandas as pd
import sqlite3

# Connect to the database
conn = sqlite3.connect('restaurants.db')

# Load the restaurants table
restaurants_df = pd.read_sql_query("SELECT * FROM restaurants", conn)

# Check first 5 rows
print(restaurants_df.head())

# Close connection
conn.close()

   restaurant_id restaurant_name  cuisine  rating
0              1    Restaurant_1  Chinese     4.8
1              2    Restaurant_2   Indian     4.1
2              3    Restaurant_3  Mexican     4.3
3              4    Restaurant_4  Chinese     4.1
4              5    Restaurant_5  Chinese     4.8

In [15]:
# Users JSON
users_df = pd.read_json('users.json')

# Orders CSV
orders_df = pd.read_csv('orders.csv')

In [16]:
orders_users_df = pd.merge(orders_df, users_df, on='user_id', how='left')

In [17]:
final_df = pd.merge(orders_users_df, restaurants_df, on='restaurant_id', how='left')

# Check final dataset
final_df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [18]:
# Check first 10 rows
final_df.head(10)

# Check dataset size
print("Rows and Columns:", final_df.shape)

# Check for missing values
print(final_df.isnull().sum())

Rows and Columns: (10000, 12)
order_id             0
user_id              0
restaurant_id        0
order_date           0
total_amount         0
restaurant_name_x    0
name                 0
city                 0
membership           0
restaurant_name_y    0
cuisine              0
rating               0
dtype: int64

In [20]:
# Check all column names in final dataset
print(final_df.columns)

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name_x', 'name', 'city', 'membership', 'restaurant_name_y',
       'cuisine', 'rating'],
      dtype='object')

In [22]:
# Total spent by each user
total_by_user = final_df.groupby('name')['total_amount'].sum()
print("Total amount spent by each user:\n", total_by_user)

Total amount spent by each user:
 name
User_1       1289.66
User_100      456.33
User_1000    4083.26
User_1001    2246.34
User_1002    3385.56
              ...
User_994     1618.02
User_995     2411.24
User_996     2963.32
User_997     1634.61
User_998     6374.24
Name: total_amount, Length: 2883, dtype: float64

In [23]:
# Quick check
final_df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [24]:
# Check all column names
print(final_df.columns)

# See first 5 rows to verify data
final_df.head()

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name_x', 'name', 'city', 'membership', 'restaurant_name_y',
       'cuisine', 'rating'],
      dtype='object')

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [26]:
# Save the final merged dataset to CSV
final_df.to_csv('final_merged_dataset.csv', index=False)
print("Final merged dataset saved as 'final_merged_dataset.csv'")

Final merged dataset saved as 'final_merged_dataset.csv'